<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        First Name:<input type="text" name="fName"><br>
        Last Name:<input type="text" name="lName"><br>
        Email:<input type="text" name="email"><br>
      <!--  Gender:<input type="radio" id="male" name="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender">
        <label for="female">Female</label><br><br>
        Select your State:
        <select required>
            <option hidden>--Select--</option>
            <option>Odisha</option>
            <option>West Bengal</option>
        </select>-->
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>